*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  width: 150px;
  height: 150px;
}

.text {
  padding: 50px 0;
}

.name,
.position {
  text-align: center;
  font-size: 1em;
}
@media (max-width: 320px) {
  .name,
  .position {
    font-size: 0.7em;
  }
}

.button {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 0.7em;
  color: #ffffff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s;
}
.button span {
  transition: all 0.3s;
}
.button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.button:hover span {
  letter-spacing: 2px;
}
.button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
